<center><h1>Tic Tac Toe</h1> <p>

<% if (current_player == "o") { %>
  <h1>Player O please pick your square</h1>
<% }else { %>
<h1> Hey Player X, why dont you pick a square!</h1>  
 <% } %>
<form action ='user_move' method='post'>

  <h2>
  <input type="submit" name='square' value= <%=board_array[0]%>> | 
  <input type="submit" name='square' value= <%=board_array[1]%>> | 
  <input type="submit" name='square' value= <%=board_array[2]%>><br>
  -------------- <br>
  <input type="submit" name='square' value= <%=board_array[3]%>> | 
  <input type="submit" name='square' value= <%=board_array[4]%>> | 
  <input type="submit" name='square' value= <%=board_array[5]%>><br>
  -------------- <br>
  <input type="submit" name='square' value= <%=board_array[6]%>> | 
  <input type="submit" name='square' value= <%=board_array[7]%>> | 
  <input type="submit" name='square' value= <%=board_array[8]%>><br> 
  </h2>
  
</form>
</center>